# Frontend TTS - URL del Backend
NEXT_PUBLIC_TTS_API_URL=/api/tts

# URL del backend (en producción: https://api-voz.cloudmusic.cl)
TTS_BACKEND_URL=https://api-voz.cloudmusic.cl

# Firma frontend -> backend (PRIVADA Ed25519)
FRONTEND_KEY_ID=tts-frontend
FRONTEND_PRIVATE_KEY_PEM=-----BEGIN PRIVATE KEY-----\nMC4CAQAwBQYDK2VwBCIEIKpoXunxuZ/IVifmFkjuwnFjEg5tor3As7PBBX5nWh34\n-----END PRIVATE KEY-----

# URL pública del frontend
NEXT_PUBLIC_APP_URL=https://ai.cloudmusic.cl

# Cloudflare Turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY=

PORT=3004
